# cp .env.test.example .env.test
# версия Elasticsearch (тег образа)
STACK_VERSION=9.5.4
# пароль пользователя elastic
ELASTIC_PASSWORD=test_elastic_password
# пароль PostgreSQL
DB_PASSWORD=test_password
# пользователь PostgreSQL
DB_USER=postgres
# имя базы данных
DB_NAME=searchservice_test
