# cp .env.example .env
# версия Elasticsearch (тег образа)
STACK_VERSION=9.5.4
# пароль пользователя elastic
ELASTIC_PASSWORD=password123
# пароль PostgreSQL
DB_PASSWORD=postgres123
# пользователь PostgreSQL
DB_USER=postgres
# имя базы данных
DB_NAME=searchservice
